// Pretendard 웹폰트
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'),
		url('../font/woff2/Pretendard-Bold.woff2') format('woff2'),
		url('../font/woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'),
		url('../font/woff2/Pretendard-SemiBold.woff2') format('woff2'),
		url('../font/woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'),
		url('../font/woff2/Pretendard-Medium.woff2') format('woff2'),
		url('../font/woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'),
		url('../font/woff2/Pretendard-Regular.woff2') format('woff2'),
		url('../font/woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'),
		url('../font/woff2/Pretendard-Light.woff2') format('woff2'),
		url('../font/woff/Pretendard-Light.woff') format('woff');
}
