@charset "utf-8";

// 순서대로 import
@import "normalize"; // 브라우저 초기화
@import "rem"; // rem 변환 함수
@import "font"; // 웹폰트
@import "color"; // 색상 변수
@import "mixin"; // 믹스인
@import "default"; // 기본 스타일 + 컴포넌트

// 프로젝트별 추가 스타일은 여기에
// @import "layout"; // 레이아웃
// @import "components"; // 추가 컴포넌트
// @import "pages"; // 페이지별 스타일
